# Build results
[Bb]in/
[Oo]bj/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/parts/hamnt/build/
parts/hamnt/install/hamnt
parts/hamnt/run/build.sh
parts/hamnt/run/environment.sh
parts/hamnt/src/
parts/hamnt/state/build
parts/hamnt/state/prime
parts/hamnt/state/pull
parts/hamnt/state/stage
parts/hamnt/build/
prime/hamnt
prime/meta/snap.yaml
stage/hamnt
